body{
  background-image: url("../img/sfondo.jpg");
}
.contenitore{
  width: 80%;
  margin: 0 auto;
}

/* parte intestazione */

header{
  position: relative;
  background-image: url("../img/alberi.jpg");
  /* da eliminare */
  height: 250px;
  background-color: gray;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}



.titoli{
  font-style: italic;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navigation{
  display: block;
  background-color: brown;
  margin-bottom: 5px;
  padding: 0;
  font-size: 20px;
}

.menucontainer{
  text-align: center;
}

#menu{

  margin: 0px auto 0px;
}

li{
  display: inline-block;
}




/* parte principale */

.container::after{
  content: "";
  display: table;
  clear: both;
}

.partesx{
  float: left;
  width: 30%;
  /* da eliminare */
  background-color: gray;
  height: 400px;
}


.partemid{
  float: left;
  width: 35%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5px;
  /* da eliminare */
  background-color: gray;
  height: 600px;
}


.partedx{
  float: right;
  width: 30%;
}

.sopra{
  margin-bottom: 5px;
  /* da eliminare */
  background-color: gray;
  height: 250px;
}

.sotto{
  /* da eliminare */
  background-color: gray;
  height: 250px;
}

/* parte footer */


footer{
  /* da eliminare */
  height: 150px;
  background-color: gray;
}
